<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="homeFmLogin" title="登录" style="width:400px;height:280px;padding:10px 20px">
    <form id="fm" action= "{$siteIP}" method="post">
        <div class="fitem">
            <label>用户名：</label>
            <input name="username" required="true" type="text">
        </div>

        <div class="fitem">
            <label>密码：</label>
            <input name="password"  required="true" type="password">
        </div>

        <br>
        <div style="text-align: center;">
            <input  style="width:120px;height:30px" name="login"  type="submit" value="登录">
        </div>
    </form>
</div>

<div id="result"></div>

<script>
    if(typeof(EventSource)!=="undefined")
    {
        //var source=new EventSource("http://172.31.132.72:8000/eventsource/");
        var source=new EventSource("http://localhost/HiBlog/index.php/Home/Index/login");
        source.onmessage=function(event)
        {
            document.getElementById("result").innerHTML+=event.data + "<br />";
        };
    }
    else
    {
        document.getElementById("result").innerHTML="Sorry, your browser does not support server-sent events...";
    }
</script>
</body>
</html>